.App {
  background-color: #124f8ff2;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  height: 50px;
  border: 1px rgb(2, 2, 1);
  margin-bottom: 10px;
  display: flex;
justify-content: space-between;
  align-content: center;
}

.titulo {
  font-size: 25px;
  padding: 60px;
  color: rgb(0, 0, 0);
  display: flex;
  position: absolute;
  margin:auto;
}

.boton-reiniciar {
  position: absolute;
  left: 12px;
  top: 58px;
}

.cartas-container {
  width: 1500px;
  height: 600px;
  border: 1px solid white;
}

.cartas {
  display: inline-block;
  margin: 5px;
  height: calc(180px - 10px);
  width: calc(200px - 10px);
  background-color: aqua;
  cursor: pointer;
}

.cartas:hover {
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}

